*.swp
*.swo
*.pyc
*.dmp
*.fa
*.ssi
*.pickle
*.db
*.HMM
*.hmm
*.json
*.TABLE
.DS_Store
input/*
realinput/*
output/*
tmp/*
session/*
metagenome_directories.txt
celery.pw
metannotate.pw
metagenome_directories_root.txt
downloads/*
software/*
path.txt
.idea
cache
test_output
test_tmp
